form#recipe #serving-size-inputs {
  margin-bottom: 10px;
}

form#recipe #serving-size-inputs input[type="text"]{
  margin-right: 16px;
}

form#recipe #serving-size-inputs input {
  margin-right: 4px;
}