.nutrient-inputs {
  display: flex;
  align-items: center;
}

.nutrient-input-wrapper {
  display: inline-block;
  background-color: var(--white);
  border-radius: 4px;
  margin-right: 4px;
}

.nutrient-name-input-wrapper {
  min-width: 5.75rem;
}

.nutrient-quantity-input-wrapper {
  width: 6.75rem;
}

.nutrient-inputs .btn {
  margin-left: 2px;
}

.nutrient-inputs .btn {
  color: var(--eerie-black);
}

.nutrient-inputs .btn:hover {
  color: var(--slate-gray);
}
