#features-page {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  padding: max(1vw, 2vh);
}

#fp-intro-container {
  text-align: center;
}

#fp-intro-container h2 {
  font-size: 2.8rem;
}
