#home-page {
  height: 200vh;
}

/* Page 1 */

#home-window-1, #home-window-2, #home-window-3 {
  display: flex;
  height: 100vh;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

#home-window-2 {
  height: auto;
}

#home-window-1 .h-box, #home-window-3 .h-box {
  margin-top: 20vh;
  height: 60vh;
  display: flex;
}

#home-window-2 .h-box {
  height: 60vh;
  display: flex;
}

#home-page .left-content {
  margin-right: 4rem;
}

#home-page .text-box {
  margin-top: 10vh;
}

#home-page .text-box p {
  margin-bottom: 2rem;
  color: var(--french-gray-2);
}

#home-page ul {
  line-height: 2.4rem;
  margin-left: 1rem;
}

#home-page li, #home-page li .icon {
  color: var(--slate-gray);
  margin-right: .8rem;
}

#home-page .mascot  {
  height: 100%;
}

#home-page .text-box h2 {
  font-size: 3.3rem;
  font-weight: 900;
  margin-bottom: .8rem;
}

#home-window-1 .mouse-scroll-gif {
  height: 2rem;
  opacity: 60%;
  margin-bottom: .5rem;
  transition: opacity .35s ease-in-out;
}

#home-window-1 .mouse-scroll-gif.hidden {
  opacity: 0%;
}

#home-page .form-wrapper {
  display: flex;
  justify-content: center;
  padding-bottom: 25vh;
}

#home-page #signup-form h2 {
  font-size: 1.8rem;
}

#recipe-modal {
  display: flex;
  justify-content: center;
  overflow-y: scroll;
  padding: 2rem 0;
}

#recipe-modal .modal-box {
  width: 90vw;
  max-width: 1280px;
  height: fit-content;
}
