#splash-page {
  display: flex;
  justify-content: center;
}

#splash-page .content-wrapper {
  width: 100vw;
}

#splash-page .content {
  width: 80vw;
  margin: 0 auto;
}

@media screen and (max-width: 992px) {
  #splash-page .content {
    width: 100vw;
  }
}
