#mpc-form {
  padding: .5rem;
}

#mpc-form header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1.4rem;
}

#mpc-form h3 {
  display: inline-block;
  color: var(--outer-space);
  margin-right: .5rem;
  font-weight: 500;
}

#mpc-form h3:first-child {
  margin-bottom: .75rem;
}

#mpc-info-btn {
  border: none;
  background: none;
}

#mpc-info-btn:hover {
  color: var(--slate-gray);
}

#portions-quantity-container, #portion-size-container {
  margin-bottom: 1rem;
}

#portion-size-buttons-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: .9rem;
  color: var(--french-gray-2);
  margin-bottom: .3rem;
}

#portion-size-buttons-container button {
  background: none;
  border: none;
  color: var(--french-gray-2);
  font-size: .9rem;
  padding: .4rem 1rem;
  transition: none;
  border-radius: 1rem;
  margin-left: 8px;
}

#portion-size-buttons-container button:hover {
  color: var(--slate-gray);
  background-color: var(--seasalt);
}

#portion-size-buttons-container button.active {
  background-color: var(--antiflash-white);
  color: var(--outer-space);
}

#portion-size-header > * {
  display: inline-block;
}

#mpc-submit-btn {
  width: 100%;
  padding: 1rem;
}

#mpc-info-tip {
  margin-top: .25rem;
  background-color: var(--white);
  border: 1px solid var(--eerie-black);
  border-radius: .5rem;
  padding: .5rem;
  max-width: 14rem;
  font-size: .8rem;
}
