#mpc-form {
  padding: .5rem;
}

#mpc-form h3 {
  color: var(--outer-space);
  /* margin-bottom: .5rem; */
  margin-right: .5rem;
  font-weight: 500;
  /* font-size: 1.1rem; */
}

#mpc-form h3:first-child {
  margin-bottom: .5rem;
}

#mpc-form header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1rem;
}

#mpc-info-btn {
  border: none;
  background: none;
}

#mpc-info-btn:hover {
  color: var(--slate-gray);
}

#portions-quantity-container, #portion-size-container {
  margin-bottom: 1rem;
}

#portion-size-buttons-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: .9rem;
  color: var(--french-gray-2);
}

#portion-size-buttons-container button {
  background: none;
  border: none;
  color: var(--french-gray-2);
  font-size: 1rem;
  /* text-decoration: underline; */
  padding: .5rem 1rem;
  transition: none;
  border-radius: 1rem;
  /* text-decoration: underline; */
}

#portion-size-buttons-container button:hover {
  /* text-decoration: underline; */
  /* background-color: var(--seasalt); */
  color: var(--slate-gray);
  /* font-weight: 500; */
}

#portion-size-buttons-container button.active {
  /* background-color: var(--antiflash-white); */
  text-decoration: underline;
  /* font-weight: 500; */
  color: var(--outer-space);
}

#portion-size-header > * {
  display: inline-block;
}

#mpc-submit-btn {
  width: 100%;
  /* height: 3rem; */
  /* margin-top: .5rem; */
  padding: 1rem;
}
