#edit-recipe-form {
  display: flex;
  width: 100%;
  justify-content: space-between;
}

#edit-recipe-form > div {
  display: flex;
  align-items: center;
}

#edit-recipe-form .left * {
  margin-right: 8px;
}

#edit-recipe-form label {
  font-weight: 600;
}

/* #edit-recipe-form input[type=number] {
  background-color: var(--seasalt);
  border-style: none;
  border-radius: 3px;
  color: var(--eerie-black);
  padding: 3px;
} */

#edit-recipe-form button {
  background-color: var(--onyx);
  color: var(--antiflash-white);
  font-weight: 500;
  border: none;
  font-size: 16px;
  padding: 10px 14px;
  border-radius: 8px;
  margin-left: 10px;
}

#edit-recipe-form button:hover {
  background-color: var(--outer-space);
  transition: background-color 0.2s ease;
}
