.recipe-time-inputs-container {
  height: 2rem;
  margin-top: 5px;
  display: inline-block;
  white-space: nowrap;
}

.recipe-time-inputs-container * {
  height: 100%;
}

#recipe-header .left .row label:first-child {
  margin-left: 0;
}
