#navbar {
  position: fixed;
  left: 0;
  padding: .7rem 1rem;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

#navbar-logo {
  font-size: 2rem;
  font-family: 'Oswald', sans-serif;
  color: var(--eerie-black);
}

#navbar ul {
  display: flex;
  align-items: center;
  list-style: none;
}

#navbar li a {
  margin-left: 10px;
  font-weight: 500;
  text-align: center;
  display: inline-block;
  width: 100px;
  padding: 14px 0;
  border-radius: 40px;
}

#navbar a.active {
  font-weight: 600;
  background-color: var(--antiflash-white);
}

#navbar li a.active:hover {
  background-color: var(--antiflash-white);
}

#navbar li a:hover {
  background-color: var(--seasalt);
}

@media screen and (max-width: 600px) {
  #navbar ul {
    position: absolute;
    background-color: var(--white);
    border: 1px solid var(--french-gray);
    border-radius: 4px;
    right: 10px;
    top: 100%;
    flex-direction: column;
    padding: 0 10px;
  }

  #navbar ul.hide {
    display: none;
  }

  #navbar ul li a {
    margin: 5px 0;
  }
}

@media screen and (min-width: 992px) {
  #navbar {
    padding-left: 15vw;
    padding-right: 15vw;
  }
}
