#navbar {
  position: fixed;
  width: 70vw;
  height: 80px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

#navbar-logo {
  font-size: 34px;
  font-family: 'Oswald', sans-serif;
  color: var(--eerie-black);
}

#navbar ul {
  display: flex;
  align-items: center;
  list-style: none;
}

#navbar li a {
  font-weight: 600;
  text-align: center;
  display: inline-block;
  width: 100px;
  padding: 14px 0;
  border-radius: 40px;
  color: var(--onyx);
}

#navbar a.active {
  background-color: var(--antiflash-white);
}

#navbar li a:hover {
  background-color: var(--seasalt);
}

#navbar li a.active:hover {
  background-color: var(--antiflash-white);
}

.slate-gray {
  color: var(--slate-gray);
}
