html {
  --sidebar-width: 230px;
}

#sidebar {
  top: 0;
  position: absolute;
  padding: 0px 14px;
  border-right: 1px solid var(--french-gray);
  width: var(--sidebar-width);
  bottom: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: var(--seasalt);
}

#sidebar h1 {
  height: 80px;
  display: flex;
  align-items: center;
  font-size: 1.9rem;
  font-family: 'Oswald', sans-serif;
  color: var(--eerie-black);
  margin-left: 10px;
}

#sidebar .btn {
  display: block;
  width: 100%;
  font-size: 16px;
  color: var(--slate-gray);
  font-weight: 500;
  padding: 15px;
  margin-top: 5px;
}

#sidebar .btn:hover {
  background-color: var(--antiflash-white);
  border-radius: 12px;
}

#sidebar .active {
  background-color: var(--antiflash-white);
  border-radius: 12px;
  color: var(--onyx);
  font-weight: 600;
}

.sidebar-icon {
  color: var(--slate-gray);
  margin-right: 14px;
  width: 16px;
}

.active .sidebar-icon {
  color: var(--onyx);
}

#sidebar .lower {
  padding: 20px 5px;
}

#sidebar .logout-container {
  color: var(--french-gray-2);
  margin-top: 15px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 15px;
  font-weight: 400;
}

#sidebar .logout-container * {
  color: var(--french-gray-2);
}
