#recipe-scraping-form {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#recipe-scraping-form .main {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

#recipe-scraping-form.inline {
  align-items: flex-start;
}

#recipe-scraping-form.inline .main {
  flex-direction: row;
}

#recipe-scraping-form input {
  max-width: 480px;
  width: 100%;
  padding: .8rem;
  font-size: 18px;
  font-weight: 200;
  color: var(--onyx);
  border: 2px solid var(--french-gray-2);
  border-radius: 1rem;
  background-color: var(--seasalt);
}

#recipe-scraping-form input:hover {
  outline: 1px solid var(--slate-gray);
  border: 2px solid var(--slate-gray);
}

#recipe-scraping-form input::placeholder {
  opacity: 1;
  font-weight: 200;
  color: var(--french-gray);
}

#recipe-scraping-form input:focus {
  outline: 1px solid var(--slate-gray);
  border: 2px solid var(--slate-gray);
}

.btn-main {
  margin-top: 10px;
  background-color: var(--eerie-black);
  color: var(--antiflash-white);
  font-weight: 500;
  border: none;
  font-size: 18px;
  padding: 20px 22px;
  border-radius: 50px;
  white-space: nowrap;
}

#recipe-scraping-form.inline .btn-main {
  margin: 0 0 0 .5rem;
}

.btn-main:hover {
  cursor: pointer;
  background-color: var(--onyx);
  transition: background-color 0.2s ease;
}


#rsf-spinner {
  width: 50px;
  height: 50px;
  margin-top: 20px;
}

#rsf-input-error, #rsf-submit-error {
  margin-top: .5rem;
  width: 100%;
  max-width: 480px;
}

#recipe-scraping-form .err-msg {
  margin-top: 25px;
}

#recipe-scraping-form.inline button  {
  margin-top: 0px;
  margin-left: 10px;
  padding: .75rem 1.25rem;
  height: 100%;
}

#recipe-scraping-form .spinner-wrapper {
  width: 100%;
  display: flex;
  justify-content: center;
}
