#instructions-list{
  --instruction-hover-border-radius: 4px; 
  --instruction-hover-background-color: var(--antiflash-white); 
  --instruction-hover-transition-duration: .1s; 
}

.form-style #instructions-list {
  margin: 15px 0 14px 0;
}

.form-style #instructions-list li {
  display: flex;
  align-items: flex-start;
  width: calc(100% + 30px);
  margin-left: -30px;
}

.form-style #instructions-list li:hover .btn {
  opacity: 100%;
}

.form-style #instructions-list li:hover textarea {
  outline-color: var(--instruction-hover-background-color);
}

.form-style #instructions-list .btn {
  margin-right: 10px;
  opacity: 0;
  transition: opacity .1s ease-in;
}

.form-style #instructions-list .btn:hover {
  color: var(--slate-gray);
}

.form-style #instructions-list textarea {
  flex-grow: 1;
  padding-left: 4px;
  margin-left: 5px;
  outline: 4px solid transparent;
  transition: outline-color var(--instruction-hover-transition-duration) ease-in;
}
