:root {
  --white: white;
  --seasalt: #f8f9faff;
  --antiflash-white: #e9ecefff;
  --platinum: #dee2e6ff;
  --french-gray: #ced4daff;
  --french-gray-2: #adb5bdff;
  --slate-gray: #6c757dff;
  --outer-space: #495057ff;
  --onyx: #343a40ff;
  --eerie-black: #212529ff;
  --font-color-default: var(--onyx);
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

/* html {
  overflow-y: scroll;
} */

body {
  background-color: var(--white);
  font-family: 'Open Sans', sans-serif;
  color: var(--onyx);
}

button {
  font-family: 'Open Sans', sans-serif;
}

button:hover {
  cursor: pointer;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

.btn:hover {
  cursor: pointer;
}

input {
  font-family: 'Open Sans', sans-serif;
}
