:root {
  --primary: #f8f9faff;
  --antiflash-white: #e9ecefff;
  --platinum: #dee2e6ff;
  --french-gray: #ced4daff;
  --french-gray-2: #adb5bdff;
  --slate-gray: #6c757dff;
  --outer-space: #495057ff;
  --onyx: #343a40ff;
  --font-main: #212529ff;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: var(--primary);
  font-family: 'Open Sans', sans-serif;
}

.App {
  display: flex;
  justify-content: center;
}

.container {
  width: 70vw;
}

#main-header {
  position: fixed;
  width: 70vw;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

h1 {
  font-family: 'Oswald', sans-serif;
  color: var(--font-main);
}

#main-header ul {
  display: flex;
  list-style: none;
}

#main-header li {
  margin-left: 20px;  
}

main {
  height: 100vh;
  display: flex;
  text-align: center;
  justify-content: center;
}

main div {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
