:root {
  --seasalt: #f8f9faff;
  --antiflash-white: #e9ecefff;
  --platinum: #dee2e6ff;
  --french-gray: #ced4daff;
  --french-gray-2: #adb5bdff;
  --slate-gray: #6c757dff;
  --outer-space: #495057ff;
  --onyx: #343a40ff;
  --eerie-black: #212529ff;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  overflow-y: scroll;
}

body {
  background-color: var(--seasalt);
  font-family: 'Open Sans', sans-serif;
  color: var(--onyx);
}

button {
  font-family: 'Open Sans', sans-serif;
}

button:hover {
  cursor: pointer;
}

.App {
  display: flex;
  justify-content: center;
}

.content-width {
  width: 70%;
}

main {
  height: 100vh;
  display: flex;
  justify-content: center;
}

#rsf-wrapper {
  margin-top: 46vh;
  display: flex;
  align-items: center;
  flex-direction: column;
}

#main-msg {
  font-size: 22px;
  margin-bottom: 20px;
}
