.btn-main {
  background-color: var(--font-main);
  color: var(--antiflash-white);
  font-weight: 500;
  border: none;
  font-size: 18px;
  padding: 20px 22px;
  border-radius: 50px;
}

.btn-main:hover {
  cursor: pointer;
  background-color: var(--outer-space);
}
