button#toggle-theme {
  position: fixed;
  bottom: 10px;
  right: 10px;
  background-color: var(--eerie-black);
  width: 50px;
  height: 50px;
  border-style: none;
  border-radius: 50%;
}

button#toggle-theme:hover {
  background-color: var(--onyx);
  transition: background-color 0.1s ease;
}

#moon-icon, #sun-icon {
  height: 25px;
  color: var(--antiflash-white);
}

.dark-mode {
  --white: #212529ff;
  --seasalt: #343a40ff;
  --antiflash-white: #495057ff;
  --platinum: #6c757dff;
  --french-gray: #adb5bdff;
  --french-gray-2: #ced4daff;
  --slate-gray: #dee2e6ff;
  --outer-space: #e9ecefff;
  --onyx: #f8f9faff;
  --eerie-black: white;
}

body, div, button, input {
  transition: background-color 0.5s ease;
}
