#edit-recipe-form {
  display: flex;
  width: 100%;
  justify-content: space-between;
}

#edit-recipe-form > div {
  display: flex;
  align-items: center;
}

#edit-recipe-form .left * {
  margin-right: 8px;
}

#edit-recipe-form label {
  font-weight: 600;
}

#edit-recipe-form input[type=number] {
  background-color: var(--seasalt);
  border-style: none;
  border-radius: 3px;
  color: var(--eerie-black);
  font-size: 16px;
  padding: 3px;
}

/* Chrome, Safari, Edge, Opera */
#erf-calories-input::-webkit-outer-spin-button,
#erf-calories-input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
#erf-calories-input {
  -moz-appearance: textfield;
}

#edit-recipe-form button {
  background-color: var(--onyx);
  color: var(--antiflash-white);
  font-weight: 500;
  border: none;
  font-size: 16px;
  padding: 12px 14px;
  border-radius: 8px;
  margin-left: 10px;
}

#edit-recipe-form button:hover {
  background-color: var(--outer-space);
}

/* #edit-recipe-form .slider {
  -webkit-appearance: none;
  width: 150px;
  height: 15px;
  border-radius: 3px;  
  background: var(--french-gray);
  outline: none;
}

#edit-recipe-form .slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 22px;
  height: 22px;
  border-radius: 50%; 
  background: var(--onyx);
  cursor: pointer;
}

#edit-recipe-form .slider::-moz-range-thumb {
  width: 22px;
  height: 22px;
  border-radius: 50%;
  background: var(--onyx);
  cursor: pointer;
} */
