/* Popup css from https://codepen.io/Dr_rakcha/pen/eyyqbg */

#popup-container {
  display: none; 
  background: rgba(0, 0, 0, 0.6);
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  opacity:0;
  transition: opacity .5s; 
}

#popup-container .popup {
  width: 500px;
  height: 300px;
  border: 1px solid;
  background: white;
  position: relative;
  left: calc(50% - 250px);
  top: calc(50% - 150px);
  text-align: center;
}
