#recipe-scraping-form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#recipe-scraping-form input {
  width: 480px;
  padding: 8px;
  font-size: 18px;
  font-weight: 200;
  color: var(--onyx);
  border: 2px solid var(--french-gray-2);
  border-radius: 10px;
}

#recipe-scraping-form input::placeholder {
  opacity: 1;
  font-weight: 200;
  color: var(--french-gray);
}

#recipe-scraping-form button {
  margin-top: 10px;
}

#rsf-spinner {
  width: 50px;
  height: 50px;
  margin-top: 10px;
}

#recipe-scraping-form .err-msg {
  margin-top: 8px;
}
