#recipe-scraping-form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#recipe-scraping-form button {
  margin-top: 10px;
}

#recipe-scraping-form .err-msg {
  margin-top: 8px;
}
