/* Popup css from https://codepen.io/Dr_rakcha/pen/eyyqbg */

#popup-container {
  display: none; 
  background: rgba(0, 0, 0, 0.6);
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  opacity:0;
  transition: opacity .5s; 
}

#popup-container .popup {
  width: 60vw;
  border-radius: 10px;
  padding: 25px;
  background: var(--primary);
  position: relative;
  /* left: calc(50% - 20vw); */
  left: 20vw;
  top: 50px;
  /* top: calc(50% - 150px); */
  font-size: 16px;
  text-align: left;
}
