#sidebar {
  padding: 0 14px;
  border-right: 2px solid var(--french-gray);
  width: 260px;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

#sidebar h1 {
  height: 80px;
  display: flex;
  align-items: center;
  font-size: 34px;
  font-family: 'Oswald', sans-serif;
  color: var(--eerie-black);
  margin-left: 10px;
}

#sidebar .btn {
  display: block;
  width: 100%;
  font-size: 16px;
  color: var(--slate-gray);
  font-weight: 500;
  padding: 15px;
  margin-top: 5px;
}

#sidebar .btn:hover {
  background-color: var(--antiflash-white);
  border-radius: 12px;
}

#sidebar .active {
  background-color: var(--antiflash-white);
  border-radius: 12px;
  color: var(--onyx);
  font-weight: 600;
}

.sidebar-icon {
  color: var(--slate-gray);
  margin-right: 14px;
  width: 16px;
}

.active .sidebar-icon {
  color: var(--onyx);
}
