#recipe-header { 
  padding: 10px;
}

#recipe-content {
  background-color: var(--seasalt);
  padding: 15px;
  border-radius: 10px;
}

#recipe h2 {
  font-size: 1.5rem;
  text-align: left;
}

#recipe input {
  font-size: 1.1rem;
  border: none;
  border-radius: 8px;
  padding: 4px 8px;
  color: var(--font-color-default);
}

/* Recipe Name Input */

#recipe-name-input {
  width: 50%;
}

#recipe-name-input::placeholder {
  color: var(--french-gray);
}

p#recipe-times {
  /* margin-bottom: 12px; */
  color: var(--slate-gray);
}

#recipe h3 {
  color: var(--outer-space);
  text-align: left;
  margin-bottom: 6px;
}

.two-col {
  display: flex;
  justify-content: space-between;
}

.col {
  display: flex;
  flex-direction: column;
}

#ingredients-container {
  width: 35%;
}

#ingredients-container ul {
  list-style: none;
  /* line-height: 2.5em; */
}

#ingredients-container ul li {
  text-align: left;
  margin-bottom: 10px;
  padding-bottom: 10px;
  border-bottom: 1px solid var(--french-gray);
}

#ingredients-container ul li:last-child {
  border: none;
}

#instructions-container {
  width: 60%;
}

#instructions-container ol {
  margin-left: 18px;
}

#instructions-container ol li {
  text-align: left;
  margin-bottom: 6px;
}
