#sub-heading .servings-btn {
  color: var(--slate-gray);
  font-size: 1rem;
}

#sub-heading .servings-btn:hover, #sub-heading .servings-btn.active:hover {
  font-weight: 400;
  color: var(--outer-space);
}

#sub-heading .servings-btn.active {
  color: var(--eerie-black);
  font-weight: 500;
}
